body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header {
  margin-top: 50px;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .inputTime {
  max-width: 300px;
}

body header .inputTime h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

body header .inputTime p {
  margin-bottom: 10px;
}

body header .inputTime input {
  width: 300px;
  height: 40px;
  outline: none;
  margin-bottom: 20px;
}

body header .inputTime button {
  padding: 10px 30px;
  background-color: blue;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

body header .nowTime h1 {
  font-size: 60px;
  margin-top: 35px;
  margin-right: 50px;
}

body header .nowTime p {
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
  margin-right: 20px;
}

body header .nowTime .watch {
  text-align: center;
  margin-right: 20px;
}

body header .nowTime .copy {
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
}

body main {
  margin-top: 50px;
}

body main .format {
  display: none;
  margin-bottom: 50px;
}

body main .format tr th,
body main tr {
  border: 1px solid #d8d8cd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .format tr th :nth-child(1),
body main tr :nth-child(1) {
  width: 250px;
  background-color: rgba(199, 225, 225, 0.676);
  height: 30px;
  text-align: start;
  font-weight: 700;
}

body main .format tr th :nth-child(2),
body main tr :nth-child(2) {
  width: 550px;
  background-color: white;
  height: 30px;
  text-align: start;
}

body main h2 {
  text-align: start;
  font-weight: 600;
}

body main form {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 50px;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main form .inputs div label {
  font-weight: 700;
}

body main form .inputs div input {
  margin-top: 8px;
  outline: 0;
  width: 80px;
  height: 30px;
  border: 1px solid #b0b0de;
  border-radius: 5px;
}

body main form button {
  background-color: blue;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  margin-bottom: 50px;
}

body main .unix {
  display: none;
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */